<ion-content>
  <form [formGroup]="formGroup" (ngSubmit)="handleLogin(); $event.preventDefault()" class="form">
    <img src="assets/logo.png" alt="">
    <div class="element">
      <ion-label>Email</ion-label>
      <ion-input formControlName="email" type="text"></ion-input>
      <p class="danger" *ngIf="formGroup.controls.email.dirty && formGroup.controls.email.errors" margin-left>Email inválido</p>
    </div>
    <div class="element">
      <ion-label>Senha</ion-label>
      <ion-input formControlName="senha" type="password"></ion-input>
      <p class="danger" *ngIf="formGroup.controls.senha.dirty && formGroup.controls.senha.errors" margin-left>Senha inválida</p>
    </div>
    <div class="grid">
      <ion-button block type="submit" [disabled]="formGroup.invalid" class="margin login">Login</ion-button>
      <ion-button block fill="outline" class="margin create"(click)="handleCad()">Criar conta</ion-button>
    </div>
  </form>
</ion-content>
