.form {
  width: 50%;
  text-align: center;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.margin {
  margin-top: 2%;
}

.element {
  text-align: start;
  margin-top: 2%;
}

ion-input {
  background: #ffff;
  border-radius: 10px;
  margin-top: 1%;
}

ion-content {
  --background: #fafafa;
}
