<app-header title="" [showMenuButton]="false" [showBackButton] = "true"></app-header>


<ion-content>
  <form [formGroup]="formGroup" (ngSubmit)="handleCad(); $event.preventDefault()" class="form">
    <ion-label>Cadastro do agricultor</ion-label>
    <div class="element">
      <ion-label>Nome*</ion-label>
      <ion-input formControlName="nome" type="text"></ion-input>
      <p class="danger" *ngIf="formGroup.controls.nome.dirty && formGroup.controls.nome.errors" margin-left>Nome inválido</p>
    </div>
    <div class="element">
      <ion-label>CPF*</ion-label>
      <ion-input formControlName="cpf" type="text"></ion-input>
      <p class="danger" *ngIf="formGroup.controls.cpf.dirty && formGroup.controls.cpf.errors" margin-left>CPF inválido</p>
    </div>
    <div class="element">
      <ion-label >Endereço*</ion-label>
      <ion-input formControlName="endereco" type="text"></ion-input>
      <p class="danger" *ngIf="formGroup.controls.endereco.dirty && formGroup.controls.endereco.errors" margin-left>Endereço inválido</p>
    </div>
    <div class="element">
      <ion-label>Email*</ion-label>
      <ion-input formControlName="email" type="text"></ion-input>
      <p class="danger" *ngIf="formGroup.controls.email.dirty && formGroup.controls.email.errors" margin-left>Email inválido</p>
    </div>
    <div class="element">
      <ion-label>Senha*</ion-label>
      <ion-input formControlName="senha" type="text"></ion-input>
      <p class="danger" *ngIf="formGroup.controls.senha.dirty && formGroup.controls.senha.errors" margin-left>Senha inválida</p>
    </div>
    <ion-button block type="submit" [disabled]="formGroup.invalid" class="margin">Cadastrar</ion-button>
  </form>
</ion-content>
