<ion-content>
  <div class="center">
    <img src="assets/logo.png" alt="" class="img">
  </div>

  <div class="grid">
    <ion-text color="primary" class="text">
      DASH PROFESSOR
    </ion-text>
  </div>
  
  <div>
    <ngx-datatable
      class="material table"
      [rows]="realizados"
      [loadingIndicator]="loadingIndicator"
      [columns]="columns"
      [columnMode]="Force"
      [headerHeight]="50"
      [footerHeight]="50"
      rowHeight="auto"
      [reorderable]="reorderable"
      
      [selected]="selected"
      [selectionType]="single"
      (activate)="onActivate($event)"
      (select)="onSelect($event)"
    >
  </ngx-datatable>
  </div>
</ion-content>