.table {
  width: 50%;
  margin: auto;
  margin-top: 5%;
}

ion-content {
  --background: #3b5627;
  text-align: center;
}

.text {
  color: #ffff;
  font-size: x-large;
}

.margin {
  margin-top: 5%;
}
