<ion-header>
  <ion-toolbar>
    <ion-title>resumo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ngx-datatable
      class="material table"
      [rows]="realizados"
      [loadingIndicator]="loadingIndicator"
      [columns]="columns"
      [columnMode]="Force"
      [headerHeight]="50"
      [footerHeight]="50"
      rowHeight="auto"
      [reorderable]="reorderable"
      
      [selected]="selected"
      [selectionType]="single"
      (activate)="onActivate($event)"
      (select)="onSelect($event)"
    >
  </ngx-datatable>
  </div>
</ion-content>
