<!-- <app-header title="DASH AGRICULTOR" [showMenuButton]="true" [showBackButton]="false"></app-header> -->


<ion-content>
  <div class="center">
    <img src="assets/logo.png" alt="" class="img">
  </div>

  <div class="grid">
    <ion-text color="primary" class="text">
      DASH AGRICULTOR
    </ion-text>
    <ion-text color="primary" *ngIf="pontos>0" class="pts">
      Pontuação do agricultor: {{pontos}}
    </ion-text>
  </div>

  <div>
    <ngx-datatable
      class="material table"
      [rows]="prticas"
      [loadingIndicator]="loadingIndicator"
      [columns]="columns"
      [columnMode]="Force"
      [headerHeight]="50"
      [footerHeight]="50"
      rowHeight="auto"
      [reorderable]="reorderable"
      [selected]="selected"
      [selectionType]="single"
      (activate)="onActivate($event)"
      (select)="onSelect($event)"
    >
    </ngx-datatable>
  </div>
</ion-content>
