<app-header title="Dash agricultor" [showMenuButton]="true"></app-header>


<ion-content>
  <ion-text color="primary" *ngIf="pontos>0">
    <h1>Pontuação do agricultor: {{pontos}}</h1>
  </ion-text>
  <div>
    <ngx-datatable
      class="material table"
      [rows]="prticas"
      [loadingIndicator]="loadingIndicator"
      [columns]="columns"
      [columnMode]="Force"
      [headerHeight]="50"
      [footerHeight]="50"
      rowHeight="auto"
      [reorderable]="reorderable"
      [selected]="selected"
      [selectionType]="single"
      (activate)="onActivate($event)"
      (select)="onSelect($event)"
    >
    </ngx-datatable>
  </div>
</ion-content>
