<ion-content>
  <ion-card class="center">
    <img class="img" src="{{pratica.url}}" />
    <ion-card-header>
      <ion-card-title>{{pratica.nome}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{pratica.descricao}}
    </ion-card-content>
  </ion-card>
  <ion-list class="center">
    <ion-text color="primary">
      Marque as práticas já realizadas na sua propriedade.
    </ion-text>
    <ion-item *ngFor="let passo of pratica.passos">
      <ion-label>{{passo.nome}}</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="passo.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-button (click)="handleSave()" fill="outline" shape="round" class="btn">
    Enviar
  </ion-button>
</ion-content>
